:root{
   --primary-color: #FFA506;
   --foreign-color: #fed152;
}

.pt-100{
   padding-top: 100px;
}
.pb-100{
   padding-bottom: 100px;
}
.mt-100{
   margin-top: 100px;
}
.mb-100{
   margin-bottom: 100px;
}

body{
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   color: #000;
   overflow: hidden;

}
html {
   overflow-x: hidden;
}

/*[ Hover img zoom]
-----------------------------------------------------------
*/
.hov-img-zoom {
	overflow: hidden;
   cursor: pointer;
}
.hov-img-zoom img{
	-webkit-transition: all 0.6s;
   -o-transition: all 0.6s;
   -moz-transition: all 0.6s;
   transition: all 0.6s;
}
.hov-img-zoom:hover img {
	-webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
	transform: scale(1.1);
}


/* ===== CODE LOGO */
/* .logo-name__item{
   height: 60px;
   width: 60px;
   background-color: #BDCBD4;
   border: 2px solid #FFD152;
}
.logo-name__item-1,
.logo-name__item-2,
.logo-name__item-3{
   height: 34px;
   width: 10px;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   margin-left: 2px;
   margin-right: 2px;
}
.logo-name__item-1 {
   background-color: #fff;
}
.logo-name__item-2 {
   background-color: #FFD152;
}
.logo-name__item-3 {
   background-color: #663100;
}
.logo-name__desc{
   color: var(--foreign-color);
}
.logo-name__desc-1{
   font-family: 'Roboto Mono', 'Roboto';
   font-size: 36px;
}
.logo-name__desc-1{
} */