:root{
   --primary-color: #FFA506;
   --foreign-color: rgb(254, 209, 84);
}

.pt-100{
   padding-top: 100px;
}
.pb-100{
   padding-bottom: 100px;
}
.mt-100{
   margin-top: 100px;
}
.mb-100{
   margin-bottom: 100px;
}

body{
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   color: #000;
   overflow: hidden;

}
html {
   overflow-x: hidden;
}