

#loading {
   width: 100%;
   height: 100vh;
   z-index: 9999;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
}

/* ========== HEADER ========== */
header {
   height: 100px;
   width: 100vw;
   background-color: #fff;
   z-index: 1000;

}
#nav-icon{
   color: var(--primary-color);
}

#navbar-icon--close {
   display: none;
}
.nav-item-link{
   color: #000;
}

.nav-item-link:hover,
.nav-item-link--active {
   border-bottom: 4px solid var(--primary-color);
   color:  var(--foreign-color);
   background-color: #333;
}

.phone-number a {
   color: var(--primary-color);
}

@keyframes navbarIsOpen {
   from {
      transform: translateX(100%);


   }
   to {
      transform: translateX(0);

   }
}

@keyframes navbarIsClose {
   from {
      transform: translateX(0);


   }
   to {
      transform: translateX(100%);

   }
}

/* End HEADER */

/* ========= INTRO ========== */
/* #intro {
   height: 50vh;
   background-image: url(../img/intro-iotcity.png);
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center center;
} */
.carousel-img {
   height: 60vh;
}

/* End INTRO */

/* ========= ABOUT ========== */
#about h1 strong {
   color: var(--primary-color);
}
#about img {
   max-height: 320px ;
}
#about p{
   color: #333;
   text-align: justify;
}

#about p::first-letter{
   font-size: 22px;
}
/* End ABOUT */

/* ========= SERVICE APP ========== */
#service-app{
   background-color: var(--foreign-color);
}
#service-app p,
#service-web p,
#service-mobile p,
#service-ecommerce p{
   text-align: justify;
}
/* End SERVICE-APP */

/* ========= SERVICE WEB ========== */
#service-web{
   background-color: rgb(1, 201, 201);
}

/* End SERVICE-WEB */

/* ========= SERVICE MOBILE ========== */
#service-mobile{
   background-color: rgba(254, 209, 84,0.6);
}

/* End SERVICE-MOBILE */

/* ========= SERVICE MOBILE ========== */
#service-ecommerce{
   background-color: rgba(1, 201, 201,0.6);
}

/* End SERVICE-MOBILE */