

#loading {
   width: 100%;
   height: 100vh;
   z-index: 9999;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
}

/* ========== HEADER ========== */
header {
   height: 100px;
   width: 100vw;
   background-color: #fff;
   z-index: 1000;
}


#nav-icon{
   color: var(--primary-color);
}

.nav-icon-wrap {
   border: 2px solid var(--primary-color);
}

#navbar-icon--close {
   display: none;
}
.nav-item-link{
   color: #000;
}

.nav-item-link:hover {
   border-bottom: 2px solid var(--foreign-color);
   color:  var(--primary-color);
}

.phone-number a {
   color: var(--foreign-color);
}

@keyframes navbarIsOpen {
   from {
      transform: translateX(100%);


   }
   to {
      transform: translateX(0);

   }
}

@keyframes navbarIsClose {
   from {
      transform: translateX(0);


   }
   to {
      transform: translateX(100%);

   }
}

/* End HEADER */

/* ========= INTRO ========== */
/* #intro {
   height: 50vh;
   background-image: url(../img/intro-iotcity.png);
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center center;
} */
.carousel-img {
   height: 50vh;
}

/* End INTRO */

/* ========= ABOUT ========== */
#about h1 strong {
   color: var(--foreign-color);
}
#about img {
   max-height: 320px ;
}
#about p{
   color: #333;
   text-align: justify;
}

#about p::first-letter{
   font-size: 22px;
}
/* End ABOUT */

/* ========= SERVICE ========== */
#service{
   background-image: url(../img/background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#service p:first-child {
   letter-spacing: 2px;
}

.service-link {
   background-color: var(--primary-color);
   border-radius: 50px;
}
/* End SERVICE */

/* ========= SERVICE APP ========== */

#service-app p,
#service-web p,
#service-mobile p,
#service-ecommerce p{
   text-align: justify;
}
/* End SERVICE-APP */

/* ========= SERVICE WEB ========== */
/* #service-web{
   background-color: rgb(1, 201, 201);
} */

/* End SERVICE-WEB */

/* ========= SERVICE MOBILE ========== */


/* End SERVICE-MOBILE */

/* ========= SERVICE MOBILE ========== */
/* #service-ecommerce{
   background-color: rgba(1, 201, 201,0.6);
} */

/* End SERVICE-MOBILE */

/* ===== CUSTOMER IDEA ===== */

.slick-prev:before, .slick-next:before {
   color: var(--foreign-color);
}

.customer__logo {
   height: 100px;
}
.customer__info {
   height: 60px;
}
.customer__info span {
   font-size: 12px;
   color: #7B8794;
}
.customer blockquote {
   color: #707070;
   font-size: 16px;
}
/* End CUSTOMER IDEA */

/* ========== REASON ========== */
#reason h3{
   border-bottom: 1px solid #ccc;
}
.reason__icon {
   border: 4px solid var(--primary-color);
   border-radius: 50%;
   color: var(--primary-color);
}
.reason__desc{
   text-align: justify;
}
.reason__desc h4{
   text-shadow: 0 0 1px var(--primary-color);
}
/* End REASON */

 /* ========= PRODUCT ==========  */
 #service-web,
#service-ecommerce,
#product,
#customer-idea{
   background-image: url(../img/background.png);
} 
#customer h3 strong,
#customer-idea h3 strong,
#product h3 strong {
   color: var(--foreign-color);
}
#product h3::before,
#product h3::after{
   content: "";
   width: 30px;
   height: 2px;
   background-color: #000;
   display: inline-block;
   margin: 0 4px;
}
#product .swiper-slide{
   background-color: #fff;
   height: 600px;
   box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
#product .swiper-slide h4 {
   color: var(--primary-color);
   text-shadow: 1px 1px 1px var(--foreign-color);
}
#product .swiper-slide p{
   text-align: justify;
}
#product .swiper-pagination-bullet {
   width: 14px;
   height: 14px;
   margin-left: 10px !important;
   margin-right: 10px !important;
}
#product .swiper-pagination-bullet.swiper-pagination-bullet-active {
   background-color: var(--primary-color);
}
/* End PRODUCT */




/* ===== Footer ===== */
#footer {
   background-color: #222222;
}
.footer-social *{
   color: #fff;
}
.footer-social-item{
   background-color: #545454;
   width: 50px;
   height: 50px;
}

.footer-info *,
.footer-subscribe *{
   color: #d7d7d9;
}
.footer-info li p{
   font-weight: 300;
   line-height: 20px;
}


.footer-info h4{
   font-weight: 300;
}
.footer-info li i {
   width: 20px;
   height: 20px;
}
.footer-hr {
   color: #535353;
}

.footer-copy-right {
   background-color: #111111;
}
.footer-copy-right a,
.footer-copy-right a:hover{
   color: var(--primary-color);
}