


/* ========================== HOME PAGE ========================== */

/* ========= INTRO ========== */
/* #intro {
   height: 50vh;
   background-image: url(../img/intro-iotcity.png);
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center center;
} */
.carousel-img {
   height: 50vh;
}

/* End INTRO */

/* ========= ABOUT ========== */
#about h1 strong {
   color: var(--foreign-color);
}
#about img {
   max-height: 320px ;
}
#about p{
   color: #333;
   text-align: justify;
}

#about p::first-letter{
   font-size: 22px;
}
/* End ABOUT */

/* ========= SERVICE ========== */
#service{
   background-image: url(../img/background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#service p:first-child {
   letter-spacing: 2px;
}

.service-link {
   background-color: var(--primary-color);
   border-radius: 50px;
}
/* End SERVICE */

/* ========= SERVICE APP ========== */

#service-app p,
#service-web p,
#service-mobile p,
#service-ecommerce p{
   text-align: justify;
}
/* End SERVICE-APP */

/* ========= SERVICE WEB ========== */
/* #service-web{
   background-color: rgb(1, 201, 201);
} */

/* End SERVICE-WEB */

/* ========= SERVICE MOBILE ========== */


/* End SERVICE-MOBILE */

/* ========= SERVICE MOBILE ========== */
/* #service-ecommerce{
   background-color: rgba(1, 201, 201,0.6);
} */

/* End SERVICE-MOBILE */

/* ===== CUSTOMER IDEA ===== */

.slick-prev:before, .slick-next:before {
   color: var(--foreign-color);
}

.customer__logo {
   height: 100px;
}
.customer__info {
   min-height: 60px;
}
.customer__info span {
   font-size: 12px;
   color: #7B8794;
}
.customer blockquote {
   color: #707070;
   font-size: 16px;
}
/* End CUSTOMER IDEA */

/* ========== REASON ========== */
#reason h3{
   border-bottom: 1px solid #ccc;
}
.reason__icon {
   border: 4px solid var(--foreign-color);
   border-radius: 50%;
   color: var(--foreign-color);
}
.reason__desc{
   text-align: justify;
}
.reason__desc h4{
   text-shadow: 0 0 1px var(--foreign-color);
}
/* End REASON */

 /* ========= PRODUCT ==========  */
 #service-web,
#service-ecommerce,
#product,
#customer-idea{
   background-image: url(../img/background.png);
} 
#customer h3 strong,
#customer-idea h3 strong,
#product h3 strong {
   color: var(--foreign-color);
}
#product h3::before,
#product h3::after{
   content: "";
   width: 30px;
   height: 2px;
   background-color: #000;
   display: inline-block;
   margin: 0 4px;
}
#product .swiper-slide{
   background-color: #fff;
   height: 600px;
   box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
#product .swiper-slide h4 {
   color: var(--primary-color);
   text-shadow: 1px 1px 1px var(--foreign-color);
}
#product .swiper-slide p{
   text-align: justify;
}
#product .swiper-pagination-bullet {
   width: 14px;
   height: 14px;
   margin-left: 10px !important;
   margin-right: 10px !important;
}
#product .swiper-pagination-bullet.swiper-pagination-bullet-active {
   background-color: var(--primary-color);
}
/* End PRODUCT */

/* ================ End HOME PAGE ================ */
/*  */

/* ========================== ABOUT PAGE ========================== */
/* ===== INTRODUCE ===== */

/* .introduce-title {
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   color: #fff;
   text-shadow: 4px 4px 10px #000;
} */
/* End INTRODUCE*/

/* ===== INFO ===== */
.about-page-info h1{
   font-weight: 600;
}
.about-img {
   background-color: var(--foreign-color);
}
.about-img img {
   border: 1px solid #fff;
}
.about-page-info p{
   text-align: justify;
}
.about-title {
   border-left: 6px solid #ccc;
   color: var(--foreign-color);
}
.about-title-sm {
   color: #777;
}
.page-info-item i {
   font-size: 10px;
}
/* End INFO */

/* ===== ABOUT IOT CITY ===== */
#about-iotcity {
   height: 50vh;
   background-image: url(../img/about-page/intro-iotcity.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center bottom;
   background-attachment: fixed;
}
/* End ABOUT IOT CITY */

/* ===== ABOUT PROJECT ===== */
#slogan,
#about-project {
   background-color: #F0F0F0;
}
.project__counter i {
   color: var(--foreign-color);
}
.project__counter h5 {
   font-weight: 600;
}
/* End ABOUT PROJECT */

/* ===== ABOUT LEADER ===== */
.leader-tittle h3::before{
   content: "";
   display: block;
   position: absolute;
   bottom: 0;
   left:45%;
   width: 10%;
   height:3px;
   justify-content: center;
   background-color: var(--foreign-color);

   
}
.leader-item {
   border-top: 4px solid #D7DEE4;
}
.leader-item:hover{
   transform: translateY(-30px);
   transition: all 0.6s ease-in;
}

.leader-info h4 {
   font-weight: 600;
}
.leader-info a,
.leader-info a:hover{
   color: var(--foreign-color);
}
.leader-info-img {
   border: 1px solid #D7DEE4;
   border-radius: 50%;
}
.leader-info-img img {
   width: 120px;
   height: 120px;
   border-radius: 50%;

}
.slogan {
   background-color: #E0C045;
}
/* End ABOUT LEADER */
/* ================ End ABOUT PAGE ================ */

/* ================ SERVICE PAGE ================ */

#service-page-title h1{
   color: #434099;
}
#service-page-title h2{
   color: var(--foreign-color);
}
#service-page-title p {
   text-align: justify;
}
/*  */
/* #wave-bg{
   background-image: url(../img/service-page/wavebg.jpg);
   height: 59px;
} */
#service-page-webapp{
   background-color: #f0f9f3;
}
#service-page-webapp::before {
   content: "";
   position: absolute;
   bottom: 0;
   border-bottom: 100px solid #f0f5fb;
   border-left: 100vw solid transparent;
   border-top: 0 solid transparent;
}


#service-page-appmobile {
   background-color: #f0f5fb;
}

.webapp__desc h3 {
   font-weight: 600;
}
/*  */
#service-page-exp {
   background-image: url(../img/service-page/wavebg1.png);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}


.service-title-md span {
   color: var(--blue-color);
}
.exp-wrap__item {
   border-radius: 32px;
   background-color: rgba(240, 245, 252,0.8);
}
.exp-wrap__item-desc {
   color: var(--blue-color);
}
/*  */
#service-page-procedure {
   background-color: #FEFEFE;
}
#service-page-procedure::before,
#service-page-procedure::after {
   content: "";
   position: absolute;
   bottom: -100px;
   border-top: 100px solid #FEFEFE;
   border-bottom: 0 solid transparent;
}
#service-page-procedure::before {
   border-right: 100vw solid transparent;
}
#service-page-procedure::after {
   border-left: 100vw solid transparent;
}

/*  */
.app-left{
   border-right: 1px solid var(--blue-color);
}
.app-right{
   border-left: 1px solid var(--blue-color);
}
.app-item img{
   
   max-width: 90px;
   max-height: 90px;
}
/*  */
#service-page-app{
   background-image: url(../img/service-page/bg.webp);
}
/*  */
#service-page-result{
   background-color: #f0f5fb;
}
#service-page-result h5{
   color: var(--blue-color);
}
/*  */
#service-page-last::before,
#service-page-last::after {
   content: "";
   position: absolute;
   top: -100px;
   border-bottom: 100px solid #C3CCD3;
   border-top: 0 solid transparent;
}
#service-page-last::before {
   border-right: 100vw solid transparent;
}
#service-page-last::after {
   border-left: 100vw solid transparent;
}
#service-page-last{
   background-color: #C3CCD3;
}
/* ================ End SERVICE PAGE ================ */

/* ================ NEWS PAGE ================ */

/* Post */
#news-post .post{
   padding-top: 12px;
   padding-bottom: 12px;
}

.post-item{
   border: 1px solid #e1e1e1;
   min-height: 480px
}

.post-item__head span {
   top:10px;
   left:10px;
   background-color: #363636;
   color: #fff;
}

.post-item__body h4 a {
   color: #000;
}
.post-item__body h4 a:hover {
   color: var(--blue-color);
}

.post-item__body-desc  {
   border-top: 1px dotted #ccc;
}

.post-item__body-desc a{
   bottom: 10px;
   right: 20px;
}
/* Pagination */
.pagination-item a{
   height: 40px;
   width: 40px;
   border: 1px solid #ccc;
   border-radius: 50%;
   line-height: 36px;
   color:  #000;
}
.pagination-item--active {
   color: var(--blue-color) !important;
   background-color: #D7DEE4;
}
/* ================ End NEWS PAGE ================ */

/* ================ CONTACT PAGE ================ */
.info__item {
   border: 2px solid #ccc;
}
#about-page-map {
   background-image: url(../img/background.png);
}
.map {
   min-height: 500px;
}
/* ================ End CONTACT PAGE ================ */
