@media (max-width: 767px) {
   .service-link {
      width: 100%;
      
   }
}

@media (max-width: 991px){
   .service-web-img,
   .service-ecommerce-img{
      order: 2;
   }
   .service-web-info,
   .service-ecommerce-info{
      order: 1;
   }
   #navbar {
      display: none;
      background-color: #595959;
      height: 100vh;
      position: fixed;
      top: 100px;left: 0;right:0;
      z-index: 1000 !important;
   }
   .nav-item:nth-child(1),
   .nav-item:nth-child(3),
   .nav-item:nth-child(5){
      background-color: rgba(204, 204, 204,0.5);
   }
   .nav-item-link{
      color: #fff;
   }

   .nav-info-mobile {
      color: var(--primary-color);
      font-family: 'Style Script', 'Roboto';
      letter-spacing: 4px;
   }

}

@media (min-width: 1200px) {
   .nav-item-link{
      padding-bottom: 12px !important;
   }

   #product .swiper-slide{
      height: 550px;
   }
}